body {
    background-color: rgb(255, 255, 255);
}
h1 {
    width: 798px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid  #2a7ae2;
    background-color: #93bcec;
    color: #2169c7;
}
 table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 30px;
    }

    th, td {
      border: 1px solid #2169c7;
      padding: 10px;
      text-align: center;
      width: 10em;
    }

    th {
      background-color: #93bcec;
    }

    td {
      height: 60px;
    }
    
